@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

.footer {
    background-color: #fff;
    color: #000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 100px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.social-logo {
    font-size: 32px;
    color: black;
    padding: 0px;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
    
    width: 100%;

    font-size: 16px;
    color: black;
    font-weight: 500;
}

.footer-raid{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 17px;
    /* text-transform: uppercase; */
    font-family: "Ysabeau Office", serif;
    font-weight: 800;
}

.iitj-logo {
    height: 24px;
    width: 22px;
    margin-left: 10px;
}

.vertical-line {
    height: 26px;
    width: 3px;
    background-color: #000;
    margin: 0px;
}

.copyright {
    color: darkslategrey;
}