.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: black;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}

.navbar-buttons{
    height: 60px;
    text-align: center;
    padding: 20px;
    margin: 0px 10px;
    box-sizing: border-box;
    font-weight: 600;
    transition: 200ms;
    a {
        color: white;
    }
    & a:hover{
        color: rgb(255, 68, 0);
    }
}

.nav-bottom-border{
    height: 2px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 60px;
    animation: cover 5s ease-in infinite;
}

.nav-top-border{
    height: 2px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: cover 5s ease-in infinite;
}

@keyframes cover{
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

.site-title{
    max-height: 50px; 
    width:100px;
    padding: 10px;
    margin: 0px 10px;
    
}
