.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-2 {
    gap: 0.5rem; /* Adjust gap as needed */
}

.gallery-img {
    width: 100%; /* Ensure the image takes full width of its container */
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 0.5rem; /* Rounded corners */
}
